<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
<div class="form-group">
    <%= f.label :status_eq, "Estado" %>
    <%= f.select :status_eq, options_for_select(Book.statuses, @q.status_eq), {},{class: "form-control"} %>
</div>
<%= f.submit "Buscar", class: "btn btn-info" %>
<% end %>
  
<h1>Biblioteca</h1>
<br>
<table class="table table-striped">
    
    <div class="row">
        <div class="col -md-3">
             <tr>
                <th scope="col"><%= sort_link(@q, :title) %></th>
                <th scope="col">Autor</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de Préstamo</th>
                <th scope="col">Fecha de Devolución</th>
            </tr>
         
                <% @books.each do |book| %>
                <tr>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.status %></td>
                    <td><%= book.lendend_at %></td>
                    <td><%= book.returned_at %></td>
                    <td><%= link_to 'Ver', book %></td>
                    <td><%= link_to 'Editar', edit_book_path(book) %></td>
                    <td><%= link_to 'Eliminar', book, method: :delete, data: { confirm:'¿Esta seguro que desea eliminar?' } %></td>
                <% end %>
                </tr>
        </div>
    </div>
</table>
<br>
<%= link_to 'Nuevo libro', new_book_path %>
